// === Variablen-Definitionen (LESS) === \\

@import "normalize.less";
@import "presets.less";


// Farben

@bgcolor: #212121;
@color: white;
@textbgcolor: #fff;
@textcolor: #444;
@maincolor: #04819e; 
@linkcolor: #a61300;
@linkhovercolor: #e2001a;
@bordercolor: #ccc;

// Größen

@fontsize: 1em;
@lineheight: 1.4444;
@vertical: @fontsize * @lineheight;
@pagewidth: 100%;
@inhaltpadding:1em;

// Schrift

@fontfamily: sans-serif;

// === Variablen Ende === \\

// === Global === \\

body {
	width:@pagewidth;
	margin:0 auto;
	.font();
	background-color:@bgcolor;
	color:@color;
}

p,ul,ol,dl,aside,section,article,h1,h3,h4,h5,h6,address,hr,main,table,iframe {
	margin-bottom:@vertical;
}

/* Bei h2 passt @vertical nicht. */

h2 {
	margin-bottom:1em;
}

// === Global Ende === \\

// === Site-specific styles === \\



// === Styles Ende === \\

/* Print-Stylesheet übernommmen aus http://html5boilerplate.com */

@media print {
	* { 
		background: transparent !important; 
		color: #444 !important; 
		text-shadow: none !important;
	}
	a, a:visited { 
		color: #444 !important; 
		text-decoration: underline; 
	}
	a:after { 
		content: " (" attr(href) ")"; 
	}
	abbr:after { 
		content: " (" attr(title) ")"; 
	}
	pre, blockquote { 
		border: 1px solid #999; 
		page-break-inside: avoid; 
	}
	thead { 
		display: table-header-group;  /* css-discuss.incutio.com/wiki/Printing_Tables */
	}
	tr, img { 
		page-break-inside: avoid; 
	}
	@page { 
		margin: 0.5cm; 
	}
	p, h2, h3 { 
		orphans: 3; widows: 3; 
	}
	h2, h3 { 
	page-break-after: avoid; 
	}
	.top-navi, .haupt-navi, .sub-navi, .site-footer {
		display:none;
	}
// Extra-Optionen für Joomla!-Templates o.ä.
//	/* Mail/Print-Buttons ausblenden */
//	.actions {
//		display:none !important;
//	}
//	/* Suchfeld ausblenden */
//	.header-search-form {
//		display:none !important;
//	}
//	/* Formulare ausblenden */
//	.foxcontainer {
//		display:none !important;
//	}
}
